@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap');

body {
	font-family: 'Advent Pro', cursive;
    background-color: #f7f7f7;	
     overflow: hidden;
}

.blur {
   -webkit-filter: blur(10px);
}
.vcenter-item{
    display: flex;
    align-items: center;
}


#spinner{
 top: 45%;
    left: 45%;
    position: absolute;    
}

.dropdown:hover .dropdown-menu{
        display: block;
    }
.dropdown-menu{
        margin-top: 0;
    }


.audio-panel{
     background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	padding: 30px 40px;	
    
}

