body {
	
    background-color: #f7f7f7;	
     overflow: hidden;
}

.blur {
   -webkit-filter: blur(10px);
}

.blur-section{
  
}


#spinner{
 top: 45%;
    left: 45%;
    position: absolute;    
}



.audio-panel{
     background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	padding: 30px 40px;	
    
}


.audio-info{
   
    
    
}